@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root {
    --magenta: #9e3297;
    --roxo: #9b6cd9;
    --dark01: #111111;
    --dark02: #1a1a1ab7;
    --light: #ffffff;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--light);
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
}

/* HEADER */

header {
    /* position: fixed; */
    width: 100%;
    background-color: var(--light);
    padding: 1em 5.5em;
    
    box-shadow: 2px 2px 9px 2px var(--dark02) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* logo */

.logo {
    height: 60px;
}

.logo img {
    height: 100%;
}

/* navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

nav li a {
    position: relative;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: var(--dark01);
    font-size: 1.2em;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: var(--magenta);
    height: 4px;
    width: 0%;
    left: 0;
    bottom: -33px;
    transition: 0.3s;
}

nav a:hover:after {
    width: 100%;
}

nav a:hover {
    color: var(--magenta);
}

/* zapzap */

.whatsappContainer {
    display: flex;
    border: 3px solid var(--roxo);
    border-radius: 10px 10px 10px 0px;
    align-items: center;

    /* padding: 10px; */
}

.whatsappContainer ion-icon {
    color: var(--light);
    background-color: var(--roxo);
    height: 30px;
    width: 30px;
    padding: 3px;
}

.whatsappContainer span {
    margin: 0 12px;
}

/* CONTEÚDO */

.container {
    display: flex;
}

/* título */

.tittle {
    display: flex;
    margin: 40px 60px;

    align-items: center;
    background: url(assets/paw.png) no-repeat bottom left;
}

.tittle h1 {
    color: var(--roxo);
    font-size: 5em;
    font-weight: bolder;
    line-height: 1em;
}

.tittle p {
    margin-bottom: 20px;
}

.tittle h1 span {
    color: var(--magenta);
}

.tittle .left {
    margin: 2em;
    width: 50%;
}

.tittle .right {
    width: 50%;
    /* margin-right: -10%; */

}

.tittle .right img {
    width: 100%;
    max-width: 800px;
}

.tittle .left img {
    fill: #9e3297;
}

/* ossinho */

.osso {
    position: relative;
    text-align: center;
    display: inline-block;
    color: var(--light);
}
.osso span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.osso img {
    height: 3.2em;
    display: block;
}

/* ondinhas */


.about {
    position: relative;
    padding: 50px;
    background-color: #9b6cd9;
    outline: solid 0.5px #9b6cd9;
    z-index: -1;
}

/* Ondas */

.wave {
    position: absolute;
    background: url(assets/onda.svg);
    width: 100%;
    height: 60px;
    background-size: 300px;
}

.waveB {
    transform: scale(-1);
}

#wave1,
#waveR1 {
    position: relative;
    animation: animateWave_1 16s linear infinite;
    opacity: 1;
}

#wave2,
#waveR2 {
    animation: animateWave_1 24s linear infinite;
    opacity: 0.7;
    transform: scaleX(-1);
}

#wave3,
#waveR3 {
    animation: animateWave_1 30s linear infinite;
    opacity: 0.5;
    transform: scaleX(-1);
}


@keyframes animateWave_1 {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-X: 0px;
    }
}