body {
    background-color: rgb(0, 255, 157);
    margin: 0;
    padding: 0;
}

#navBox {
    background-color: blueviolet;
    
}

#navBox ul {
    list-style: none;
}

#navBox li {
    display: inline;
    margin: 0px 10px
}

#container {
     max-width: 750px;
}

/* ol {
    list-style-type: georgian;
} */