/* h1 {
    color: #929bd3e8;

}

h2 {
    text-decoration: line-through;
}

.destaque {
    font-weight: 900;
    text-decoration: underline;
    color: rgb(231, 47, 14);
}

#ultimoP {
    color: aqua;
}

body {
    background-color: blueviolet;
    color: beige;
} */